@{
    ViewBag.Title = "Toplantı katılım";
    Layout = "_Layout2";
}
<h1 class="h4">
    @ViewBag.selamlama,@ViewBag.name
</h1>
<h2>
Toplantı katılım durmunuzu bildiriniz.
</h2>
<a class="btn btn-sm btn-outline-primary" href="/meeting/apply">Başvuru Yap</a>