@{
    ViewBag.Title = "Toplantıya Katılım listesi";
}
<h1 class="h4">Toplantıya Katılım listesi</h1>
<table class="table table-bordered">
    <thead>
        <tr>
            <td>Ad</td>
            <td>Email</td>
            <td>Katılım Durumu</td>
            <td> <a class="btn btn-sm btn-primary" href="#" >Detay</a> </td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Nuri Tunahan Malak</td>
            <td>info@tuna.com</td>
            <td>Katılıyor</td>
            <td><a class="btn btn-sm btn-primary" href="#">Detay</a></td>
        </tr>
    </tbody>
</table>